@model Portal.Models.SiteFeedback

@{
    ViewBag.Title = "Delete";
}

<div class="header">
    <div class="header_top">
        <div class="container" style=" margin-right:auto; margin-left: auto;padding-left:0px;padding-right:0px;height:60px;">
            <ul class="shopping_grid">
               @if (!User.Identity.IsAuthenticated)
               {
                <li>@Html.ActionLink("Sign In", "Index", "Login")</li>
               }
            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="@Url.Action("Home", "Favorites")">收藏夹</a></li>
                <li><a href="@Url.Action("Home","Orders")">订单</a></li>
                if (ViewBag.ShoppingTrolleysCount > 0)
                {
                    <a href="@Url.Action("Home","ShoppingTrolleys")"><li><span class="m_1">购物车</span>(@ViewBag.ShoppingTrolleysCount) <img src="~/images/bag.png" alt="" /></li></a>
                }
                else
                {
                    <a href="@Url.Action("Home","ShoppingTrolleys")"><li><span class="m_1">购物车</span>(0) <img src="~/images/bag.png" alt="" /></li></a>
                }
            }
            </ul>
        </div>
    </div>

    <div class="h_menu4">
        <div class="container">
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li>@Html.ActionLink("Home", "Index", "Home") </li>
                <li>@Html.ActionLink("About", "Index", "About") </li>
                <li class="active">@Html.ActionLink("SiteFeedback", "Home", "SiteFeedbacks")</li>
                <li>@Html.ActionLink("Announcement", "Home", "AnnouncementsHome") </li>
                <li>@Html.ActionLink("Wish List", "Home", "RequiredCommodities")</li>
            </ul>
        </div>
    </div>
</div>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Cancel and Back to List", "Index")
        </div>
    }
</div>
