@model Portal.Models.Favorite
@using Portal.Authentication;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutForAdmin.cshtml";
}
<br /><br />
<h2>Details</h2>

<div>
    <h4>Favorite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLinkAuthorized("Edit", "Edit", new { id = Model.UserId }, false) &nbsp;
    @Html.ActionLink("Back to List", "Index")
</p>
