@model IEnumerable<Portal.Models.Commodity>
@using Portal.Authentication;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutForAdmin.cshtml";
}

<br />
<br />
<h2>Commodity</h2>

<style type="text/css">
    .table-layout-auto {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

    .table-layout-auto thead > tr > th,
    .table-layout-auto tbody > tr > th,
    .table-layout-auto tfoot > tr > th,
    .table-layout-auto thead > tr > td,
    .table-layout-auto tbody > tr > td,
    .table-layout-auto tfoot > tr > td {
        padding: 10px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid #dddddd;
        white-space: nowrap;
        border-bottom: 1px solid #dddddd;
    }
</style>

<p>
    @Html.ActionLinkAuthorized("Create New", "Create", false)
</p>
<table class="table-layout-auto">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommodityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakeCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRecommended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturerDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionStartOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionEndOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Component)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLinkAuthorized("Edit", "Edit", new { id = item.CommodityId } ,false) &nbsp;
            @Html.ActionLinkAuthorized("Details", "Details", new { id = item.CommodityId } ,false) &nbsp;
            @Html.ActionLinkAuthorized("Delete", "Delete", new { id = item.CommodityId }, false)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommodityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakeCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLinkAuthorized("Image", "Image", new { id = item.CommodityId }, false)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRecommended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturerDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionStartOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionEndOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Component)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
    </tr>
}

</table>
